<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">

    <title>QualyMentos - Propriedades</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="app-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <span class="logo-text">QualyMentos</span>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li class="active">
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/usuario/propriedades">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14 11.5c0 1.93-3.13 3.5-7 3.5s-7-1.57-7-3.5 3.13-3.5 7-3.5 7 1.57 7 3.5z">
                                </path>
                                <path
                                    d="M20.9 10.6c0-1.28-1.52-2.42-3.6-3.1A19.5 19.5 0 0 0 14 7c0 1.93-3.13 3.5-7 3.5S0 8.93 0 7c0-1.28 1.52-2.42 3.6-3.1A19.5 19.5 0 0 0 7 3c3.87 0 7 1.57 7 3.5 0 .28-.05.55-.13.81">
                                </path>
                                <path
                                    d="M20.9 10.6v3.83c0 1.93-3.13 3.5-7 3.5s-7-1.57-7-3.5V10.6c0-1.28 1.52-2.42 3.6-3.1A19.5 19.5 0 0 0 7 7c3.87 0 7 1.57 7 3.5 0 .28-.05.55-.13.81z">
                                </path>
                                <path
                                    d="M7 21c3.87 0 7-1.57 7-3.5v-3.83c0-1.28-1.52-2.42-3.6-3.1A19.5 19.5 0 0 0 7 10c-3.87 0-7 1.57-7 3.5v3.83c0 1.93 3.13 3.5 7 3.5z">
                                </path>
                            </svg>
                            <span>Propriedades</span>
                        </a>
                    </li>
                    <li>
                        <a href="/usuario/transportes">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="3" width="15" height="13"></rect>
                                <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                                <circle cx="5.5" cy="18.5" r="2.5"></circle>
                                <circle cx="18.5" cy="18.5" r="2.5"></circle>
                            </svg>
                            <span>Transportadoras</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-footer">
                <a href="/usuario">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    <span>Perfil do Usuário</span>
                </a>
            </div>
        </aside>

        <main class="main-content">
            <header class="content-header">
                <h1>Bem Vindo!!</h1>
              
                

            <div class="content-body">
                <table class="data-table">
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <script>
        
    </script>
</body>

</html>