<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QualyMentos - Detalhes</title>
    <meta http-equiv="refresh" content="150">

    <link rel="stylesheet" th:href="@{/css/teste.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>

    <div class="app-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <span class="logo-text">QualyMentos</span>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>Propriedade</span>
                        </a>
                    </li>

                    <li id="sidebar-prop" class="active" onclick="openTab(event, 'prop')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="12" y1="18" x2="12" y2="12"></line>
                                <line x1="9" y1="15" x2="15" y2="15"></line>
                            </svg>
                            <span>Registro Propriedades</span>
                        </a>
                    </li>
                    <li id="sidebar-grao" onclick="openTab(event, 'grao')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="6" x2="12" y2="12"></line>
                                <line x1="12" y1="12" x2="16" y2="14"></line>
                            </svg>
                            <span>Graos Plantatos</span>
                        </a>
                    </li>
                    <li id="sidebar-safra" onclick="openTab(event, 'safra')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="6" x2="12" y2="12"></line>
                                <line x1="12" y1="12" x2="16" y2="14"></line>
                            </svg>
                            <span>Safras </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="sidebar-footer">
                <a href="/usuario/propriedades">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    <span>Voltar à Lista</span>
                </a>
            </div>
        </aside>


        <main class="main-content">
            <header class="content-header">
                <div class="user-info" th:text="'Olá, ' + ${usuario.nome}"></div>
            </header>

            <div class="content-body">
                <div class="page-header">
                    <div class="page-title">
                        <h1>Detalhes da Propriedade</h1>
                        <p>Visualize os dados cadastrados.</p>
                    </div>
                    <div class="page-actions">

                        <button class="btn-icon btn-icon-delete" th:data-id="${propriedade.id}"
                            onclick="prop_delete(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                            </svg>
                            <span>Excluir</span>
                        </button>

                    </div>
                </div>

                <div class="tabs-container">
                    <ul class="tabs">
                        <li id="li-prop" onclick="openTab(event, 'prop')"  class="active"><a>Dados da Propriedade</a></li>
                        <li id="li-grao" onclick="openTab(event, 'grao')"><a>Graos Plantatos</a></li>
                        <li id="li-safra" onclick="openTab(event, 'safra')"><a>Safras</a></li>
                    </ul>
                </div>

                <div>
                    <div id="det-prop" class="tab-content">
                        <div class="details-container">
                            <div class="details-form">
                                <div class="form-grid">

                                    <div class="form-group-display">
                                        <label>Proprietário</label>
                                        <div class="data-value" th:text="${usuario.nome}"></div>
                                    </div>

                                    <div class="form-group-display">
                                        <label>E-mail</label>
                                        <div class="data-value" th:text="${usuario.email}"></div>
                                    </div>

                                    <div class="form-group-display">
                                        <label>Nome da Fazenda</label>
                                        <div class="data-value">
                                            <span th:text=" 'Fazenda ' + ${propriedade.nome}"></span>
                                            <button class="btn-empty" onclick="prop_edit(this)" data-campo="nome"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>

                                        </div>
                                    </div>


                                    <div class="form-group-display">
                                        <label>Telefone/Contato</label>
                                        <div class="data-value">
                                            <span
                                                th:text="${#strings.isEmpty(propriedade.fone) ? 'Não adicionado' : propriedade.fone}"></span>
                                            <button class="btn-empty" onclick="prop_edit(this)" data-campo="fone"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group-display">
                                        <label>Área Total (ha)</label>
                                        <div class="data-value">
                                            <span th:text="${propriedade.areaTotal}"></span>
                                            <button class="btn-empty" onclick="prop_edit(this)" data-campo="areaTotal"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>

                                        </div>
                                    </div>


                                    <div class="form-group-display">
                                        <label>Inscrição Estadual</label>
                                        <div class="data-value">
                                            <span
                                                th:text="${#strings.isEmpty(propriedade.codigoRural) ? 'Não adicionado' : propriedade.codigoRural}"></span>
                                            <button class="btn-empty" onclick="prop_edit(this)" data-campo="codigoRural"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group-display">
                                        <label>Cidade/Estado</label>
                                        <div class="data-value">
                                            <span
                                                th:text="${propriedade.cidade.nome} +' - '+ ${propriedade.cidade.estado.sigla}"></span>

                                            <button class="btn-empty" onclick="divOpen(this)"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="data-value hidden" id="hidden-div">
                                            <select class="btn-icon btn-icon-save" id="cidade-select">
                                                <option th:each="cidade : ${cidades}" th:value="${cidade.id}"
                                                    th:text="${cidade.nome} + ' - ' + ${cidade.estado.sigla}"></option>
                                            </select>
                                            <button class="btn-icon " onclick="editarCidade(this)"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>

                                    <div class="form-group-display">
                                        <label>Tipo de Cultura</label>
                                        <div class="data-value">
                                            <span th:text="${propriedade.tipoCultura}"></span>
                                            <button class="btn-empty" onclick="prop_edit(this)" data-campo="tipoCultura"
                                                data-id="${propriedade.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <aside class="details-aside">
                                <div class="map-placeholder">
                                </div>
                                <div class="documents-section">
                                    <h3>Documentos Anexados</h3>
                                    <a href="#" class="document-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                            </path>
                                            <polyline points="13 2 13 9 20 9"></polyline>
                                        </svg>
                                        <span>Certificado_Orgânico.pdf</span>
                                    </a>
                                </div>
                            </aside>
                        </div>
                    </div>

                    <div id="det-grao" class="hidden">
                        <div class="details-container">
                            <div class="details-form">
                                <br>
                                <button class="btn-icon" th:data-id="${propriedade.id}" onclick="grao_add(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                    <span>adicionar Grao</span>
                                </button>
                                <div class="content-body">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th>Grão</th>
                                                <th>Var</th>
                                                
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="g : ${grao}">
                                                <td th:text="${g.tipoGrao}"></td>
                                                <td th:text="${g.subtipoGrao}"></td>
                                              
                                                <td class="actions">
                                                    <button class="icon-btn" title="Editar" th:data-grao-id="${g.id}"
                                                        th:data-prop-id="${propriedade.id}" onclick="grao_view(this)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path
                                                                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                            </path>
                                                            <path
                                                                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="det-safra" class="hidden">
                        <div class="details-container">
                            <div class="details-form">
                                <br>
                                <button class="btn-icon" th:data-id="${propriedade.id}" onclick="safra_add(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                    <span>adicionar safra</span>
                                </button>
                                <div class="content-body">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th>Grão</th>
                                                <th>Sub </th>
                                                <th>Data Plantio</th>
                                                
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="s : ${safra}">
                                                <td th:text="${s.grao.tipoGrao}"></td>
                                                <td th:text="${s.grao.subtipoGrao}"></td>
                                                <td th:text="${s.dataPlantio}"></td>
                                              
                                                <td class="actions">
                                                    <button class="icon-btn" title="Editar" th:data-safra-id="${s.lote}"
                                                        th:data-prop-id="${propriedade.id}" onclick="safra_view(this)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path
                                                                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                            </path>
                                                            <path
                                                                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="det-transp" class="hidden">
                        <div class="details-container">
                            <div class="details-form">
                                <p>deu certo</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <script>
        openTab = function (evt, tabName) {
            const sidebarTabs = document.querySelectorAll('[id^="sidebar-"]');
            const detailTabs = document.querySelectorAll('[id^="det-"]');
            const liTabs = document.querySelectorAll('[id^="li-"]');

            sidebarTabs.forEach(tab => tab.classList.remove("active"));
            detailTabs.forEach(tab => tab.classList.add("hidden"));
            liTabs.forEach(tab => tab.classList.remove("active"));

            document.getElementById("sidebar-" + tabName).classList.add("active");
            document.getElementById("det-" + tabName).classList.remove("hidden");
            document.getElementById("li-" + tabName).classList.add("active");
        }
        
        function grao_view(elemento) {
            const idgrao = elemento.getAttribute('data-grao-id');
            const idprop = elemento.getAttribute('data-prop-id');
            window.location.href = '/propriedade/' + idprop + '/grao/' + idgrao;
        }
        function safra_view(elemento) {
            const idprop = elemento.getAttribute('data-prop-id');
            const idsafra = elemento.getAttribute('data-safra-id');
            window.location.href = '/propriedade/' + idprop + '/safra/' + idsafra;
        }

        function grao_add(elemento) {
            const id = elemento.getAttribute('data-id');
            window.location.href = '/propriedade/' + id + '/grao';
        }
        function safra_add(elemento) {
            const id = elemento.getAttribute('data-id');
            window.location.href = '/propriedade/' + id + '/safra';
        }

        function prop_delete(elemento) {
            if (confirm("Tem certeza que deseja excluir esta propriedade? Esta ação não pode ser desfeita.")) {
                const id = elemento.getAttribute('data-id');
                fetch('/propriedade/delete/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/usuario/propriedades';
                    } else {
                        alert('Erro ao deletar a propriedade.');
                    }
                })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao deletar a propriedade.');
                    });
            }
        }

        function divOpen(button) {
            const hiddenDiv = document.getElementById('hidden-div');
            hiddenDiv.classList.toggle('hidden');
        }

        function editarCidade(button) {


            const id = button.getAttribute('data-id');
            const select = document.getElementById('cidade-select');
            const novaCidadeId = select.value;

            if (!novaCidadeId) {
                alert("Operação cancelada ou valor inválido!");
                return;
            }

            const dados = { campo: 'cidade', valor: novaCidadeId };
            const url = /*[[@{/propriedade/{id} (id=${propriedade.id})}]]*/ "";

            fetch(url, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(dados)
            })
                .then(resp => {
                    if (resp.ok) {
                        alert("Campo atualizado com sucesso!");
                        window.location.reload();
                    } else {
                        resp.text().then(erro => {
                            alert("Erro ao atualizar: " + erro);
                        });
                    }
                })
                .catch(err => {
                    alert("Erro de conexão: " + err.message);
                });
        }

        async function prop_edit(button) {
            const id = button.getAttribute('data-id');
            const campo = button.getAttribute('data-campo');
            if (campo == 'cidade') {
                alert("Campo não especificado para edição.");
                return;
            }
            const valor = prompt("Alterar Para:");

            if (!campo || valor.trim() === "") {
                alert("Operação cancelada ou valor inválido!");
                return;
            }

            const dados = { campo: campo, valor: valor.trim() };
            const url = /*[[@{/propriedade/{id} (id=${propriedade.id})}]]*/ "";

            try {
                const resp = await fetch(url, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(dados)
                });

                if (resp.ok) {
                    alert("Campo atualizado com sucesso!");
                    window.location.reload();
                } else {
                    const erro = await resp.text();
                    alert("Erro ao atualizar: " + erro);
                }
            } catch (err) {
                alert("Erro de conexão: " + err.message);
            }
        }
    </script>
</body>

</html>