<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QualyMentos - Cadastro de Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/pgs.css}">
</head>

<body>

    <div class="topbar d-flex justify-content-between align-items-center px-3">
        <div class="logo">Qualy<strong>Mentos</strong></div>
        <div class="d-flex align-items-center">
            <a href="/user">voltar ao inicio</a>
        </div>
    </div>
    <div class="content-box">
        <h3>Cadastro de Fazendas</h3>
        <form id="form-cadastro">
            <input name="nome" type="text" class="form-control" placeholder="Nome da Fazenda" required>
            <input name="codigoRural" type="text" class="form-control" placeholder="Codigo Rural" required>
            <input name="areaTotal" type="text" class="form-control" placeholder="Tamanho (em hectares)" required>
            <input name="municipio" type="text" class="form-control" placeholder="Cidade" required>
            <input name="estado" type="text" class="form-control" placeholder="Estado" required>

            <br>
            <h5>Características do Solo e Cultivo</h5>

            <select name="tipoSolo" class="form-control" required>
                <option selected disabled>Tipo de solo</option>
                <option value="Solo A">Argiloso</option>
                <option value="Solo B">Arenoso</option>
                <option value="Solo C">Silte</option>
            </select>

            <input name="tipoProducao" type="text" class="form-control" placeholder="Tipo de Cultivo (Ex: Soja, Milho, Café)" required>

            <select name="tipoCultura" class="form-control" required>
                <option selected disabled>Sistema de produção</option>
                <option value="Tipo A">Cultura Anual</option>
                <option value="Tipo B">Cultura perene</option>
                <option value="Tipo C">Cultura Mista</option>
            </select>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success px-4">
                    Confirmar
                </button>
            </div>
        </form>
    </div>

    <script>
        const formCadastro = document.getElementById('form-cadastro');

        formCadastro.addEventListener('submit', async(e) => {
            e.preventDefault();

            const dados = Object.fromEntries(new FormData(formCadastro).entries());

            try {
                const resp = await fetch("http://localhost:8080/propriedade/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(dados)
                });

                if (resp.ok) {
                    alert("propriedade cadastrada com sucesso!");
                    window.location.href = "/user";

                    formCadastro.reset();
                } else {
                    const erro = await resp.text();
                    alert("Erro ao cadastrar: " + erro);
                }
            } catch (err) {
                alert("Erro de conexão com o servidor: " + err.message);
            }
        })
    </script>
</body>

</html>