<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QualyMentos - Detalhes</title>
    <meta http-equiv="refresh" content="150">

    <link rel="stylesheet" th:href="@{/css/teste.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>

    <div class="app-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <span class="logo-text">QualyMentos</span>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>Propriedade</span>
                        </a>
                    </li>
                    <li id="sidebar-safra" class="active" onclick="openTab(event, 'safra')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="6" x2="12" y2="12"></line>
                                <line x1="12" y1="12" x2="16" y2="14"></line>
                            </svg>
                            <span>Safras Planejadas</span>
                        </a>
                    </li>
                    <li id="sidebar-alte" onclick="openTab(event, 'alte')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="12" y1="18" x2="12" y2="12"></line>
                                <line x1="9" y1="15" x2="15" y2="15"></line>
                            </svg>
                            <span>Alterar</span>
                        </a>
                    </li>



                </ul>
            </nav>

            <div class="sidebar-footer">
                <a onclick="voltar(this)" th:data-id="${propriedade.id}" href="javascript:void(0);" >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    <span>Voltar à Lista</span>
                </a>
            </div>
        </aside>


        <main class="main-content">
            <header class="content-header">
                <div class="user-info" th:text="'Olá, ' + ${usuario.nome}"></div>
            </header>

            <div class="content-body">
                <div class="page-header">
                    <div class="page-title">
                        <h1>Detalhes da Safra</h1>
                        <p th:text="'Visualize os dados da ' + ${propriedade.nome}"> </p>
                    </div>
                    <div class="page-actions">

                        <button class="btn-icon btn-icon-delete" th:data-idgrao="${grao.id}"
                            th:data-id="${propriedade.id}" onclick="grao_delete(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                            </svg>
                            <span>Excluir</span>
                        </button>

                    </div>
                </div>

                <div class="tabs-container">
                    <ul class="tabs">
                        <li id="li-safra" onclick="openTab(event, 'safra')" class="active"><a>Safra</a></li>
                        <li id="li-alte" onclick="openTab(event, 'alte')"><a>Alterar</a></li>
                    </ul>
                </div>

                <div>
                    <div id="det-safra" class="tab-content">
                        <div class="details-container">
                            <div class="details-form">
                                <div class="form-grid">

                                    <div class="form-group-display">
                                        <label>Produzido por: </label>
                                        <div class="data-value" th:text="${propriedade.nome}"></div>
                                    </div>

                                    <div class="form-group-display">
                                        <label>Produto: </label>
                                        <div class="data-value">
                                            <span th:text="${grao.tipoGrao}"></span>

                                            <button class="btn-empty" onclick="grao_edit(this)" data-campo="tipoGrao"
                                                data-id="${grao.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="form-group-display">
                                        <label>Inicio do Plantio: </label>
                                        <div class="data-value">
                                            <span th:text="${grao.dataPlantio}"></span>
                                            <button class="btn-empty" onclick="grao_edit(this)" data-campo="dataPlantio"
                                                data-id="${grao.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="form-group-display">
                                        <label>Colhido: </label>
                                        <div class="data-value">
                                            <span th:text="${grao.dataColheita}"></span>
                                            <button class="btn-empty" onclick="grao_edit(this)"
                                                data-campo="dataColheita" data-id="${grao.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="form-group-display">
                                        <label>Area Plantada:</label>
                                        <div class="data-value">
                                            <span th:text="${grao.areaPlantada} + ' ha'"></span>
                                            <button class="btn-empty" onclick="grao_edit(this)"
                                                data-campo="areaPlantada" data-id="${grao.id}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <aside class="details-aside">
                            </aside>
                        </div>
                    </div>

                    <div id="det-alte" class="hidden">
                        <div class="details-container">
                            <div class="details-form">
                                <br>

                                <div class="content-body">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th>Grão</th>

                                                <th>inicio Plantio</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="g : ${grao}">
                                                <td th:text="${g.tipoGrao}"></td>
                                                <td th:text="${g.dataPlantio}"></td>

                                                <td class="actions">
                                                    <button class="icon-btn" title="Editar" th:data-id="${g.id}"
                                                        onclick="prop_view(this)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path
                                                                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                            </path>
                                                            <path
                                                                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div id="modal-data" style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
">
        <div style="
        background: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        min-width: 250px;
    ">
            <h3>Selecione a data</h3>
            <input type="date" id="input-data" style="width: 100%; padding: 8px; margin-top: 10px;">
            <br><br>
            <button onclick="confirmarData()" style="padding: 6px 12px;">OK</button>
            <button onclick="cancelarData()" style="padding: 6px 12px;">Cancelar</button>
        </div>
    </div>

    <script>
        function pedirData() {
            return new Promise(resolve => {
                resolverData = resolve;
                document.getElementById("modal-data").style.display = "flex";
            });
        }

        function confirmarData() {
            const valor = document.getElementById("input-data").value;
            document.getElementById("modal-data").style.display = "none";
            resolverData(valor || null);
        }

        function cancelarData() {
            document.getElementById("modal-data").style.display = "none";
            resolverData(null);
        }
    </script>
    <script>
        let resolverData
        function voltar(element) {
            window.location.href = '/propriedade/' + element.dataset.id;
        }

        openTab = function (evt, tabName) {
            const sidebarTabs = document.querySelectorAll('[id^="sidebar-"]');
            const detailTabs = document.querySelectorAll('[id^="det-"]');
            const liTabs = document.querySelectorAll('[id^="li-"]');

            sidebarTabs.forEach(tab => tab.classList.remove("active"));
            detailTabs.forEach(tab => tab.classList.add("hidden"));
            liTabs.forEach(tab => tab.classList.remove("active"));

            document.getElementById("sidebar-" + tabName).classList.add("active");
            document.getElementById("det-" + tabName).classList.remove("hidden");
            document.getElementById("li-" + tabName).classList.add("active");
        }

        function grao_delete(elemento) {
            if (confirm("Tem certeza que deseja excluir esta safra? Esta ação não pode ser desfeita.")) {
                const id = elemento.getAttribute('data-id');
                const idgrao = elemento.getAttribute('data-idgrao');
                fetch('/propriedade/' + id + '/grao/' + idgrao, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/propriedade/' + id;
                    } else {
                        alert('Erro ao deletar a safra.');
                    }
                })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao deletar a safra.');
                    });
            }
        }

        function divOpen(button) {
            const hiddenDiv = document.getElementById('hidden-div');
            hiddenDiv.classList.toggle('hidden');
        }

        function editarCidade(button) {


            const id = button.getAttribute('data-id');
            const select = document.getElementById('cidade-select');
            const novaCidadeId = select.value;

            if (!novaCidadeId) {
                alert("Operação cancelada ou valor inválido!");
                return;
            }

            const dados = { campo: 'cidade', valor: novaCidadeId };
            const url = /*[[@{/propriedade/{id} (id=${propriedade.id})}]]*/ "";

            fetch(url, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(dados)
            })
                .then(resp => {
                    if (resp.ok) {
                        alert("Campo atualizado com sucesso!");
                        window.location.reload();
                    } else {
                        resp.text().then(erro => {
                            alert("Erro ao atualizar: " + erro);
                        });
                    }
                })
                .catch(err => {
                    alert("Erro de conexão: " + err.message);
                });
        }
        async function grao_edit(button) {
            const id = button.getAttribute('data-id');
            const campo = button.getAttribute('data-campo');

            let valor;

            if (campo === "dataPlantio" || campo === "dataColheita") {
                valor = await pedirData();

                if (!valor) {
                    alert("Nenhuma data selecionada!");
                    return;
                }

            } else {
                valor = prompt("Alterar Para: ");
                if (!campo || valor === null || valor.trim() === "") {
                    alert("Operação cancelada ou valor inválido!");
                    return;
                }
                valor = valor.trim();
            }

            const dados = { campo: campo, valor: valor };

            const url = /*[[@{/propriedade/{id}/grao/{idgrao} (id=${propriedade.id}, idgrao=${grao.id})}]]*/ "";

            try {
                const resp = await fetch(url, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(dados)
                });

                if (resp.ok) {
                    alert("Campo atualizado com sucesso!");
                    window.location.reload();
                } else {
                    const erro = await resp.text();
                    alert("Erro ao atualizar: " + erro);
                }
            } catch (err) {
                alert("Erro de conexão: " + err.message);
            }
        }

    </script>
</body>

</html>